<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Alec's Programming Skills</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/skills">Alec's Software Skills</a>
  </body>
</html>
